# making-my-life-easier-by-using-python-for-data-manip.ipynb

In [1]:
import pandas as pd

In [4]:
# create cleaned folder
!mkdir cleaned

In [3]:
entity = pd.read_csv("panama_papers.nodes.entity.csv")

C:\Users\Hoang Anh\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
to_drop = ["incorporation_date", "inactivation_date", "struck_off_date", "closed_date", "ibcRUC", "status", "company_type", "sourceID", "service_provider", "valid_until", "note"]
entity = entity.drop(labels=to_drop, axis=1)

In [5]:
entity.to_csv("cleaned/entity.csv", index=False)

In [2]:
cleaned_entity = pd.read_csv("cleaned/entity.csv")

In [5]:
cleaned_entity.columns

Index(['node_id', 'name', 'jurisdiction', 'jurisdiction_description',
       'country_codes', 'countries'],
      dtype='object')

In [15]:
cleaned_entity.dtypes

node_id                      int64
name                        object
jurisdiction                object
jurisdiction_description    object
country_codes               object
countries                   object
dtype: object

In [8]:
cleaned_entity["name"] = cleaned_entity["name"].str.replace(r'"', '')

In [9]:
for cat in cleaned_entity.columns:
    if (cat != "node_id"):
        print("Feature:" ,cat)
        print(cleaned_entity[cat].unique())

Feature: name
['TIANSHENG INDUSTRY AND TRADING CO. LTD.'
 'NINGBO SUNRISE ENTERPRISES UNITED CO. LTD.' 'HOTFOCUS CO. LTD.' ...
 'LARK OVERSEAS INVESTMENT LIMITED' 'ASTRA SKIES  LIMITED'
 'Kilimanjaro Capital Limited']
Feature: jurisdiction
['SAM' 'PMA' 'NEV' 'UK' 'SGP' 'RAK' 'IOM' 'ANG' 'SEY' 'NIUE' 'UY' 'BVI'
 'HK' 'NZL' 'BAH' 'CYP' 'MLT' 'BLZ' 'JSY' 'WYO' 'CRI']
Feature: jurisdiction_description
['Samoa' 'Panama' 'Nevada' 'United Kingdom' 'Singapore' 'Ras Al Khaimah'
 'Isle Of Man' 'British Anguilla' 'Seychelles' 'Niue' 'Uruguay'
 'British Virgin Islands' 'Hong Kong' 'New Zealand' 'Bahamas' 'Cyprus'
 'Malta' 'Belize' 'Jersey' 'Wyoming' 'Costa Rica']
Feature: country_codes
['HKG' 'TWN' 'CHN' 'CHE' 'SGP' 'BRA' 'PAN' 'WSM' 'LIE' 'ESP' 'THA' 'COL'
 'JEY' 'AND' 'SYC' 'IRL' 'BEL' 'ISR' 'GIB' 'GGY' 'ARE' 'CYP' 'VEN' 'IMN'
 'LBN' 'DNK' 'URY' 'JOR' 'BHS' 'GBR' nan 'BLZ' 'LUX' 'ECU' 'GTM' 'DEU'
 'MUS' 'TUR' 'USA' 'MCO' 'EST' 'NIU' 'CZE' 'NLD' 'HUN' 'CRI' 'PRT' 'CYM'
 'ZAF' 'MLT' 'NZL' 'CIV' 'DOM' 'FRA' 'ITA' 'CAN' 'RUS' 'GRC' 'SAU' 'QAT'
 'MEX' 'PER' 'BMU' 'SLV' 'AUS' 'KNA' 'ARG' 'JPN' 'AUT' 'ASM' 'PRY' 'CHL'
 'EGY' 'SWE' 'VGB' 'POL' 'SVN' 'PHL' 'LCA' 'IDN' 'HND' 'KOR' 'VCT' 'KWT'
 'HTI' 'ZWE' 'SDN' 'NIC' 'TCA' 'LVA' 'NGA' 'UKR' 'AIA' 'KEN' 'ROU' 'NOR'
 'BOL' 'LTU' 'VNM' 'ABW' 'BGR' 'MYS' 'FIN' 'IRN' 'LSO' 'MOZ' 'MAC' 'GHA'
 'GEO' 'YEM' 'ATG' 'CUW' 'IND' 'MKD' 'MAR' 'SEN' 'DMA' 'NAM' 'BWA' 'CUB'
 'LBR' 'COK' 'SYR' 'SXM' 'BLR' 'DJI' 'BRB' 'TUN' 'BHR' 'HRV' 'NRU' 'AZE'
 'PAK' 'LBY' 'UGA' 'UZB' 'TTO' 'ISL' 'LKA' 'VIR' 'TZA' 'PRI' 'MWI' 'TCD'
 'GUM' 'OMN' 'JAM' 'MLI' 'MNE' 'KAZ' 'VUT' 'MDA' 'AGO' 'BGD' 'CAF' 'BRN'
 'ALB' 'CMR' 'ZMB' 'SVK']
Feature: countries
['Hong Kong' 'Taiwan' 'China' 'Switzerland' 'Singapore' 'Brazil' 'Panama'
 'Samoa' 'Liechtenstein' 'Spain' 'Thailand' 'Colombia' 'Jersey' 'Andorra'
 'Seychelles' 'Ireland' 'Belgium' 'Israel' 'Gibraltar' 'Guernsey'
 'United Arab Emirates' 'Cyprus' 'Venezuela' 'Isle of Man' 'Lebanon'
 'Denmark' 'Uruguay' 'Jordan' 'Bahamas' 'United Kingdom' nan 'Belize'
 'Luxembourg' 'Ecuador' 'Guatemala' 'Germany' 'Mauritius' 'Turkey'
 'United States' 'Monaco' 'Estonia' 'Niue' 'Czech Republic' 'Netherlands'
 'Hungary' 'Costa Rica' 'Portugal' 'Cayman Islands' 'South Africa' 'Malta'
 'New Zealand' "Côte d'Ivoire" 'Dominican Republic' 'France' 'Italy'
 'Canada' 'Russia' 'Greece' 'Saudi Arabia' 'Qatar' 'Mexico' 'Peru'
 'Bermuda' 'El Salvador' 'Australia' 'Saint Kitts and Nevis' 'Argentina'
 'Japan' 'Austria' 'American Samoa' 'Paraguay' 'Chile' 'Egypt' 'Sweden'
 'British Virgin Islands' 'Poland' 'Slovenia' 'Philippines' 'Saint Lucia'
 'Indonesia' 'Honduras' 'South Korea' 'Saint Vincent and the Grenadines'
 'Kuwait' 'Haiti' 'Zimbabwe' 'Sudan' 'Nicaragua'
 'Turks and Caicos Islands' 'Latvia' 'Nigeria' 'Ukraine' 'Anguilla'
 'Kenya' 'Romania' 'Norway' 'Bolivia' 'Lithuania' 'Viet Nam' 'Aruba'
 'Bulgaria' 'Malaysia' 'Finland' 'Iran' 'Lesotho' 'Mozambique' 'Macao'
 'Ghana' 'Georgia' 'Yemen' 'Antigua and Barbuda' 'Curaçao' 'India'
 'Macedonia' 'Morocco' 'Senegal' 'Dominica' 'Namibia' 'Botswana' 'Cuba'
 'Liberia' 'Cook Islands' 'Syria' 'Sint Maarten (Dutch part)' 'Belarus'
 'Djibouti' 'Barbados' 'Tunisia' 'Bahrain' 'Croatia' 'Nauru' 'Azerbaijan'
 'Pakistan' 'Libya' 'Uganda' 'Uzbekistan' 'Trinidad and Tobago' 'Iceland'
 'Sri Lanka' 'U.S. Virgin Islands' 'Tanzania' 'Puerto Rico' 'Malawi'
 'Chad' 'Guam' 'Oman' 'Jamaica' 'Mali' 'Montenegro' 'Kazakhstan' 'Vanuatu'
 'Moldova' 'Angola' 'Bangladesh' 'Central African Republic' 'Brunei'
 'Albania' 'Cameroon' 'Zambia' 'Slovakia']

In [10]:
cleaned_entity.to_csv("cleaned/entity.csv", index=False)

In [3]:
cleaned_entity["node_id"]

0         10000001
1         10000002
2         10000003
3         10000004
4         10000005
            ...
213629    10214482
213630    10214483
213631    10214484
213632    10214486
213633    10214487
Name: node_id, Length: 213634, dtype: int64