# making-my-life-easier-by-using-python-for-data-manip.ipynb

In [1]:
import pandas as pd

In [4]:
# create cleaned folder
!mkdir cleaned

In [3]:
entity = pd.read_csv("panama_papers.nodes.entity.csv")

C:\Users\Hoang Anh\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
to_drop = ["incorporation_date", "inactivation_date", "struck_off_date", "closed_date", "ibcRUC", "status", "company_type", "sourceID", "service_provider", "valid_until", "note"]
entity = entity.drop(labels=to_drop, axis=1)

In [5]:
entity.to_csv("cleaned/entity.csv", index=False)

In [2]:
cleaned_entity = pd.read_csv("cleaned/entity.csv")

In [3]:
cleaned_entity.columns

Index(['node_id', 'name', 'jurisdiction', 'jurisdiction_description',
       'country_codes', 'countries'],
      dtype='object')

In [15]:
cleaned_entity.dtypes

node_id                      int64
name                        object
jurisdiction                object
jurisdiction_description    object
country_codes               object
countries                   object
dtype: object

In [8]:
cleaned_entity["name"] = cleaned_entity["name"].str.replace(r'"', '')

In [5]:
for cat in cleaned_entity.columns:
    if (cat != "node_id"):
        print("Feature:" , cat)
        print(len(cleaned_entity[cat].unique()))

Feature: name
1996
Feature: jurisdiction
6
Feature: jurisdiction_description
6
Feature: country_codes
52
Feature: countries
52

In [7]:
cleaned_entity["name"].value_counts()

LONGFIELD DEVELOPMENTS LIMITED            2
HAMPTON INVESTMENTS LIMITED               2
DUNSTONE INCORPORATED                     2
OCEAN TALENT SEAFOOD LIMITED              1
LOK MAN GROUP LIMITED                     1
                                         ..
Beifang Metal Trading Limited             1
OUR MEDICAL SERVICES LTD.                 1
MOSSACK FONSECA & CO. (SAMOA) LIMITED.    1
OOO COMPO-TEX CO. LTD.                    1
PEAK MOUNT INTERNATIONAL LTD.             1
Name: name, Length: 1996, dtype: int64

In [10]:
cleaned_entity.to_csv("cleaned/entity.csv", index=False)

In [3]:
cleaned_entity["node_id"]

0         10000001
1         10000002
2         10000003
3         10000004
4         10000005
            ...
213629    10214482
213630    10214483
213631    10214484
213632    10214486
213633    10214487
Name: node_id, Length: 213634, dtype: int64